In [3]:
import numpy as np
import pandas as pd

In [4]:
# Import all metrics
from sklearn.metrics import mean_absolute_percentage_error, \
  mean_absolute_error, r2_score, mean_squared_error

In [1]:
!curl -O https://lazyprogrammer.me/course_files/SPY.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:--  0:00:01 --:--:--     0
100  246k  100  246k    0     0   117k      0  0:00:02  0:00:02 --:--:--  117k

In [5]:
df = pd.read_csv('SPY.csv', index_col='Date', parse_dates=True)

In [6]:
df.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-01-04,112.370003,113.389999,111.510002,113.330002,92.246048,118944600
2010-01-05,113.260002,113.680000,112.849998,113.629997,92.490204,111579900
2010-01-06,113.519997,113.989998,113.430000,113.709999,92.555328,116074400
2010-01-07,113.500000,114.330002,113.180000,114.190002,92.946060,131091100
2010-01-08,113.889999,114.620003,113.660004,114.570000,93.255348,126402800

In [7]:
# Naive forecast: shift x_{t-1} to x_t
df['ClosePrediction'] = df['Close'].shift(1)
df.head()

,Open,High,Low,Close,Adj Close,Volume,ClosePrediction
Date,,,,,,,
2010-01-04,112.370003,113.389999,111.510002,113.330002,92.246048,118944600,NaN
2010-01-05,113.260002,113.680000,112.849998,113.629997,92.490204,111579900,113.330002
2010-01-06,113.519997,113.989998,113.430000,113.709999,92.555328,116074400,113.629997
2010-01-07,113.500000,114.330002,113.180000,114.190002,92.946060,131091100,113.709999
2010-01-08,113.889999,114.620003,113.660004,114.570000,93.255348,126402800,114.190002

In [8]:
y_true = df.iloc[1:]['Close']
y_pred = df.iloc[1:]['ClosePrediction']

Use metrics to evaluate

In [10]:
# SSE
(y_true - y_pred).dot(y_true - y_pred)

6330.3742894926045

In [11]:
# MSE
mean_squared_error(y_true, y_pred)

2.798573956451196

In [12]:
# MSE implemented from scratch
(y_true - y_pred).dot(y_true - y_pred) / len(y_pred)

2.7985739564511958

In [13]:
# RMSE
mean_squared_error(y_pred, y_true, squared=False)

1.672893886787562

In [14]:
# Implement RMSE
np.sqrt((y_true - y_pred).dot(y_true - y_pred) / len(y_pred))

1.6728938867875618

In [15]:
# MAE
mean_absolute_error(y_true, y_pred)

1.1457559803120336

In [16]:
# Scale independent: R^2
# Why simply predict mean is close to perfection?
r2_score(y_true, y_pred)

0.9989603259063914

In [17]:
# MAPE
mean_absolute_percentage_error(y_true, y_pred)

0.006494073151422373

Implement SMAPE:

\begin{align*}
E = \frac{1}{N} \sum^n_{i=1} \frac{|y_i-\hat{y_i}|}{(|y_i|+|\hat{y_i}|)/2}
\end{align*}

In [20]:
# SMAPE: implement it
def smape(y_true, y_pred):
    n = len(y_pred)
    return 1 / n * np.sum(np.abs(y_true - y_pred) / ((np.abs(y_pred) + np.abs(y_true)) / 2))

In [21]:
smape(y_true, y_pred)

0.006491365814068417